* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color:#fabc82;
    justify-content: space-around;
    align-items: center;
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-item {
    background-color:#f7dae8;
    width: 250px;
    height: 250px;
    transition: transform 0.2s;
}